name: CI workflow

on:
  push:
    branches:
      - main
env:
  NODE_VERSION: 22.0.0
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    name: Run Unit Tests
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Run unit tests
        run: npm run test
      - name: Lint
        run: npm run lint
